In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# Library 불러오기
import numpy as np
import pandas as pd

In [65]:
# 데이터 불러오기
df = pd.read_csv('/content/train.csv')

In [11]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [13]:
# 결측값확인
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [16]:
# dropna
# df = df.dropna()
# 결측값확인
df.isna().sum()

In [24]:
print('평균값',df['Age'].mean())
print('중위값',df['Age'].median())
print('최빈값',df['Age'].mode())

평균값 29.36158249158249
중위값 28.0
최빈값 0    28.0
Name: Age, dtype: float64

In [25]:
# 결측값 채워주기
df['Age'] = df['Age'].fillna(df['Age'].median())

In [26]:
# 결측값확인
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
#Cabin 확인
df[df.Cabin.notna()]['Cabin']

In [63]:
Counter(df['Cabin_alphabet'])

Counter({'99': 687,
         'C': 59,
         'E': 32,
         'G': 4,
         'D': 33,
         'A': 15,
         'B': 47,
         'F': 13,
         'T': 1})

In [69]:
df['Cabin_num'].mean()

TypeError: ignored

In [68]:
# Cabin 데이터 추출
df['Cabin_alphabet'] = df['Cabin'].map(lambda x:x[0] if type(x) == str else "99")

# Fillna 로 Cabin 채우기
df['Cabin'] = df['Cabin'].fillna('C99')

# df = df.drop('Cabin',axis=1)

In [45]:
# 결측값확인
df.isna().sum()

PassengerId       0
Survived          0
Pclass            0
Name              0
Sex               0
Age               0
SibSp             0
Parch             0
Ticket            0
Fare              0
Cabin             0
Embarked          2
Cabin_alphabet    0
dtype: int64

In [46]:
df = df.dropna()

In [47]:
# 결측값확인
df.isna().sum()

PassengerId       0
Survived          0
Pclass            0
Name              0
Sex               0
Age               0
SibSp             0
Parch             0
Ticket            0
Fare              0
Cabin             0
Embarked          0
Cabin_alphabet    0
dtype: int64

In [59]:
pd.get_dummies(df['Embarked'])

     C  Q  S
0    0  0  1
1    1  0  0
2    0  0  1
3    0  0  1
4    0  0  1
..  .. .. ..
886  0  0  1
887  0  0  1
888  0  0  1
889  1  0  0
890  0  1  0

[889 rows x 3 columns]